version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: report_db_container
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=report_app
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: